<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{isProductEditable ? 'Edit' : 'Add'}} Product</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #addCartForm="ngForm" (ngSubmit)="addProductToShoppingCart(addCartForm)">
      <div class="form-group">
        <label for="quantity">Product Quantiy</label>
        <div class="input-group">
          <input class="form-control" type="text" name="quantity" required [ngModel]="product.quantity">
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark" [disabled]="addCartForm.invalid">
          {{isProductEditable ? 'Edit' : 'Add'}}
        </button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close()">
          Close
        </button>
      </div>
    </form>
  </div>
</ng-template>