<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand">El Baraton App</a>
  <button (click)="onCollapse()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngClass]="{'collapse': collapse}" class="navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['../dashboard']">Dashboard</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" (click)="onCartPressed()" style="cursor: pointer"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-target="_self">
          Cart
        </a>
        <div class="dropdown-menu" [ngClass]="{'show': isCartDropdownOpen}">
          <p class="dropdown-item" >Items in Cart: {{shoppingCartService.getProductsCount()}}</p>
          <p class="dropdown-item" >Total: {{shoppingCartService.getProductsTotal() | currency}}</p>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['../cart']">Checkout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>