<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-header" (click)="doFilterByPriceRange()">
        Sort by Price Range
      </div>
      <div class="card-body" *ngIf="filterByPrinceRange" >
        <form #priceRangeForm="ngForm" (ngSubmit)="applyRangeFilter(priceRangeForm)">
          <div class="row">
            <div class="col-12" *ngIf="fromRangeFilterNumber && toRangeFilterNumber">
              <a class="btn btn-primary btn-block" style="color: white" (click)="removeRangeFilter()">{{fromRangeFilterNumber + '-' + toRangeFilterNumber}}</a>
              <hr>
            </div>
            <div class="col-lg-6 col-sm-12">
              <label for="firstName">From</label>
              <input type="text" class="form-control" id="from" placeholder="From" name="from" required ngModel>
            </div>
            <div class="col-lg-6 col-sm-12">
              <label for="firstName">To</label>
              <input type="text" class="form-control" id="to" placeholder="To" name="to" required ngModel>
            </div>
            <div class="col-12">
              <hr>
              <button type="submit" class="btn btn-primary btn-block" [disabled]="priceRangeForm.invalid">Apply</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header" (click)="doFilterByAvailability()">
          Sort by Availability
      </div>
      <div class="card-body" *ngIf="filterByAvailability">
        <form #availabilityForm="ngForm" (ngSubmit)="applyAvailabilityFilter(availabilityForm)">
          <div class="col-12" *ngIf="availabilityFilterFlag !== undefined">
            <a class="btn btn-primary btn-block" style="color: white" (click)="removeAvailabilityFilter()">{{availabilityFilterFlag ? 'Available' : 'Not Available' }}</a>
            <hr>
          </div>
          <div class="custom-control custom-radio">
            <input id="credit" name="availability" type="radio" class="custom-control-input" ngModel [value]="true" required>
            <label class="custom-control-label" for="credit">Available</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="debit" name="availability" type="radio" class="custom-control-input" ngModel [value]="false" required>
            <label class="custom-control-label" for="debit">Not Available</label>
          </div>
          <div class="col-12">
            <hr>
            <button type="submit" class="btn btn-primary btn-block" [disabled]="availabilityForm.invalid">Apply</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header" (click)="doFilterByQuantity()">
        Sort by Quantity
      </div>
      <div class="card-body" *ngIf="filterByQuantity">
        <form #quantityFilterForm="ngForm" (ngSubmit)="applyQuantityFilter(quantityFilterForm)">
          <div class="row">
            <div class="col-12" *ngIf="quantityFilter">
              <a class="btn btn-primary btn-block" style="color: white" (click)="removeQuantityFilter()">Quantity: {{quantityFilter}}</a>
              <hr>
            </div>
            <div class="col-12">
              <label for="firstName">Quantity</label>
              <input type="number" class="form-control" id="quantity" name="quantity" placeholder="Quantity" required ngModel>
            </div>
            <div class="col-12">
              <hr>
              <button type="submit" class="btn btn-primary btn-block" [disabled]="quantityFilterForm.invalid">Apply</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>