<app-header></app-header>
<div class="container">
    <div class="row">
      <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Shopping cart</span>
          <span class="badge badge-secondary badge-pill">
              {{this.shoppingCartService.getProductsCount()}}
          </span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Sub-Total</h6>
            </div>
            <span class="text-muted">$12</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Tax</h6>
            </div>
            <span class="text-muted">$0</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total</span>
            <strong>{{this.shoppingCartService.getProductsTotal() | currency}}</strong>
          </li>
        </ul>
        <form class="card p-2">
          <button type="submit" class="btn btn-secondary btn-block" [disabled]="this.shoppingCartService.getProductsCount() === 0" (click)="checkout()">Checkout</button>
        </form>
      </div>
      <div class="col-md-8 order-md-1">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">
                  Name
              </th>
              <th scope="col" (click)="onSortProducts('quantity')" >
                      Quantity
              </th>
              <th scope="col" (click)="onSortProducts('price')">
                      Price
              </th>
              <th scope="col" (click)="onSortProducts('available')">
                      Available
              </th>
              <th scope="col" (click)="onSortProducts('available')">
                      Action
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of shoppingCartService.getShoppingCart()">
              <td>{{product.name}}</td>
              <td>
                <input type="number" class="form-control" [(ngModel)]="product.quantity">
              </td>
              <td>{{product.price}}</td>
              <td>{{product.available === true ? 'yes': 'no'}}</td>
              <td>
                  <fa class="text-center" name="minus" (click)="removeProduct(product)"></fa>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>