<a class="list-group-item" [ngClass]="{'active': isSelected()}" style="cursor: pointer">
    <p [ngClass]="{'selected': isSelected()}" (click)="onCategorySelected()">{{category.name}}</p>
    <div *ngIf="canShowChild">
        <div *ngFor="let subLevelCategory of category.sublevels">
            <category-table [category]="subLevelCategory"></category-table>
        </div>
    </div>
    <div *ngIf="!category.sublevels && isSelected()">
        <input placeholder="Search for Name" class="form-control" [(ngModel)]="searchString" (ngModelChange)="onSearch()">
    </div>
</a>