<div class="row">
  <div class="col-12">
    <product-filters></product-filters>
  </div>
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col" (click)="onSortProducts('quantity')" >Quantity
            <fa name="chevron-{{sortingDirection}}" *ngIf="sortingField === 'quantity'"></fa>
          </th>
          <th scope="col" (click)="onSortProducts('price')">Price
            <fa name="chevron-{{sortingDirection}}" *ngIf="sortingField === 'price'"></fa>
          </th>
          <th scope="col" (click)="onSortProducts('available')">Available
            <fa name="chevron-{{sortingDirection}}" *ngIf="sortingField === 'available'"></fa>
          </th>
          <th scope="col" (click)="onSortProducts('available')">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let product of products | filter:productService.searchArray:productService.propertyName">
          <tr *ngIf="isProductOnCategory(product)">
            <td>{{product.name}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.price}}</td>
            <td>{{product.available === true ? 'yes': 'no'}}</td>
            <td>
              <div class="row">
                <div class="col-6" [ngStyle]="{'color': shoppingCartService.isProductInCart(product) ? '#ffc107' : 'black'}">
                  <fa (click)="addProductToCart(product)" name="{{shoppingCartService.isProductInCart(product) ? 'shopping-cart' : 'cart-plus'}}" ></fa>
                </div>
                <div class="col-6" style="color: red">
                  <fa name="minus" *ngIf="shoppingCartService.isProductInCart(product)" (click)="removeProduct(product)"></fa>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
<product-add-cart-modal #addProductModal></product-add-cart-modal>