<app-header></app-header>
<div class="container" style="padding-top: 70px">
    <div class="row">
        <div class="col-sm-12 col-lg-4">
            <category-table *ngFor="let category of categories" [category]="category"></category-table>
        </div>
        <div class="col-sm-12 col-lg-8">
            <product-table></product-table>
        </div>
    </div>
</div>

