<div class="container home-container">
  <div class="row">
    <div class="col-6 offset-3 home-rounded" >
        <h4 class="text-center">El Baraton App</h4>
        <a class="btn btn-warning btn-block" routerLink="/dashboard">Iniciar Sesión</a>
    </div>
  </div>
</div>